#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    macros {
        pwrd_mcro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp N4 &kp LS(E) &kp LS(Q) &kp H &kp N7 &kp N6 &kp G &kp G &kp B &kp N2 &kp D>;
            label = "NEW_MACRO";
        };

        email_mcro: email_mcro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp A &kp N &kp P &kp E &kp T &kp E &kp R &kp N &kp E &kp R &kp Y &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL_MCRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  BSPC   |
            // |   TAB   |    Q    |    W    |    E    |    R    |    T    |                   |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |  LALT   |    A    |    S    |    D    |    F    |    G    |                   |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  LCTRL  |    Z    |    X    |    C    |    V    |    B    |                   |    N    |    M    |    ,    |    .    |    /    |  RALT   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | MO lay 1| SPACE   |                   | ENTER   | MO lay 2|
            //                                         |   TAB   |   HOME  |   END   |   DEL   |
            //                                         |  Raise  |    ~    |   GUI   |  Lower  |

            bindings = <
&kp ESC         &kp N1  &kp N2                &kp N3                 &kp N4     &kp N5                                   &kp N6         &kp N7     &kp N8     &kp N9     &kp N0         &kp BSPC
&kp TAB         &kp Q   &kp W                 &kp E                  &kp R      &kp T                                    &kp Y          &kp U      &kp I      &kp O      &kp P          &kp BSLH
&kp LEFT_SHIFT  &kp A   &kp S                 &kp D                  &kp F      &kp G                                    &kp H          &kp J      &kp K      &kp L      &kp SEMICOLON  &kp SQT
&kp LCTRL       &kp Z   &kp X                 &kp C                  &kp V      &kp B                                    &kp N          &kp M      &kp COMMA  &kp DOT    &kp FSLH       &kp RALT
                        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                                                                                &kp MINUS  &kp EQUAL
                                                                     &kp SPACE  &mo 1                                    &kp BACKSPACE  &kp SPACE
                                                                                &kp LEFT_ALT  &kp LSHIFT  &kp ENTER      &tog 2
                                                                                &kp LEFT_WIN  &kp CAPS    &kp LG(LS(S))  &kp DEL
            >;
        };

        raise {
            // commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   esc   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  bspc   |
            // |   tab   |    q    |    w    |    e    |    r    |    t    |                   |    y    |    u    |    i    |    o    |    p    |    \    |
            // |  lalt   |    a    |    s    |    d    |    f    |    g    |                   |    h    |    j    |    k    |    l    |    ;    |    '    |
            // |  lctrl  |    z    |    x    |    c    |    v    |    b    |                   |    n    |    m    |    ,    |    .    |    /    |  ralt   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | mo lay 1| space   |                   | enter   | mo lay 2|
            //                                         |   tab   |   home  |   end   |   del   |
            //                                         |  raise  |    ~    |   gui   |  lower  |

            bindings = <
&bt BT_SEL 0   &kp F1  &kp F2          &kp F3        &kp F4     &kp F5                  &kp F6      &kp F7                &kp F8                 &kp F9  &kp F10    &kp F11
&bt BT_DISC 0  &trans  &trans          &kp UP_ARROW  &trans     &trans                  &trans      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp 9   &trans     &kp F12
&bt BT_NXT     &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans                  &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp 6   &kp MINUS  &kp PIPE
&bt BT_CLR     &trans  &trans          &trans        &trans     &trans                  &trans      &kp 1                 &kp 2                  &kp 3   &kp FSLH   &kp UNDER
                       &trans          &kp PSCRN                                                                          &trans                 &trans
                                                     &trans     &trans                  &pwrd_mcro  &email_mcro
                                                                &trans  &trans  &trans  &trans
                                                                &trans  &trans  &trans  &trans
            >;
        };

        lower {
            // commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   esc   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  bspc   |
            // |   tab   |    q    |    w    |    e    |    r    |    t    |                   |    y    |    u    |    i    |    o    |    p    |    \    |
            // |  lalt   |    a    |    s    |    d    |    f    |    g    |                   |    h    |    j    |    k    |    l    |    ;    |    '    |
            // |  lctrl  |    z    |    x    |    c    |    v    |    b    |                   |    n    |    m    |    ,    |    .    |    /    |  ralt   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | mo lay 1| space   |                   | enter   | mo lay 2|
            //                                         |   tab   |   home  |   end   |   del   |
            //                                         |  raise  |    ~    |   gui   |  lower  |

            bindings = <
&kp GRAVE  &kp ESCAPE        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4                  &kp F6      &kp F7      &kp F8   &kp F9    &kp F10  &kp F5
&trans     &kp TAB           &kp Q         &kp W         &kp E         &kp R                         &kp K_CALC  &kp KP_NUM  &kp INS  &kp SLCK  &trans   &kp F6
&trans     &kp LEFT_SHIFT    &kp A         &kp S         &kp D         &kp F                         &trans      &kp H       &kp J    &kp K     &kp L    &trans
&trans     &kp LEFT_CONTROL  &kp Z         &kp X         &kp C         &kp B                         &trans      &trans      &trans   &trans    &trans   &trans
                             &trans        &trans                                                                            &trans   &trans
                                                         &trans        &trans                        &trans      &trans
                                                                       &trans        &trans  &trans  &trans
                                                                       &trans        &trans  &trans  &trans
            >;
        };
    };
};
